/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   font-family: "Montserrat", sans-serif;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

/*--------------------*/
/* HEADER */
.wrapper {
   min-height: 100%;
   overflow: hidden;
}

.container {
   max-width: 1200px;
   padding: 0 15px;
   margin: 0 auto;
}

.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10;

   background-color: rgb(26 129 125);
}

.logo {
   margin-right: 30px;
}

.header_wrapper {
   display: flex;
   align-items: center;
   min-height: 90px;
}

.menu__body {
   margin-right: 40px;
}

.header__menu {
   display: flex;
   align-items: center;
}

.menu__list {
   display: flex;
   align-items: center;
}

.menu__item {
   position: relative;
   margin: 0px 0px 0px 20px;
   padding: 30px 0;
}

.menu__icon {
   display: none;
}

.menu__link {
   color: #fff;
   font-size: 18px;
}


.menu__sub-list {
   position: absolute;
   top: 100%;
   left: 0;
   background-color: #fff;
   padding: 15px;
   min-width: 350px;
}

.sub-menu__item {
   margin: 0px 0px 10px 0px;
}

.sub-menu__item:last-child {
   margin: 0;
}

.sub-menu__link {
   color: #000;
   font-size: 16px;
}

.sub-menu__link:hover {
   text-decoration: underline;
}



body._pc .menu__item:hover .menu__sub-list {
   opacity: 1;
   visibility: visible;
   transform: translate(0, 0);
   pointer-events: all;
}


body._touch .menu__link {
   flex: 1 1 auto;
}

.menu__arrow {
   display: block;
   width: 0;
   height: 0;
   margin: 0px 0px 0px 5px;
   transition: transform 0.3s ease 0s;
   border-left: 5px solid transparent;
   border-right: 5px solid transparent;
   border-top: 10px solid #fff;
}


body .menu__item._active .menu__sub-list {
   opacity: 1;
   visibility: visible;
   transform: translate(0, 0);
   pointer-events: all;
}

body .menu__item .menu__arrow {
   transform: rotate(0deg);
}

.menu__item {
   display: flex;
   align-items: center;
}

.menu__sub-list {
   transform: translate(0px, 10%);
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   transition: all 0.3s ease 0s;
}

.phone__block {
   display: flex;
   align-items: center;
}

.phone__block:not(:last-child) {
   margin-bottom: 15px;
}

.phone__icon {
   width: 20px;
   margin-right: 5px;
}

.phone__number {
   font-size: 16px;
   color: #fff;
}

.phone__number:hover {
   text-decoration: underline;
}



/* HERO */
.page {
   padding: 90px 0px 0px 0px;
}

.hero {
   position: relative;
   z-index: 1;
   background: url('../img/bg.jpeg') 0 0/100% auto no-repeat;
   padding: 150px 0px;

}

.hero::after {
   content: "";
   position: absolute;
   z-index: 2;
   width: 100%;
   height: 100%;
   top: 0;
   right: 0;
   background-color: rgba(0, 0, 0, 0.7);

}

.header__content {
   position: relative;
   z-index: 10;
}

.hero__body {
   position: relative;
   z-index: 4;
   display: flex;
   align-items: center;
   margin: 0 -20px;
   height: 450px;
}

.main-slider-btn {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   width: 40px;
   height: 40px;
   border: none;
   padding: 0;
   z-index: 5;
   background-color: transparent;
}

.main-prev-btn {
   left: -160px;

   transform: rotate(180deg);
}

.main-next-btn {
   right: -160px;

}

.main-prev-btn:hover {}

.main-next-btn:hover {}

.hero__column {
   padding: 0 20px;
}

.hero__info {
   color: #fff;
}

.hero__descr {
   border-left: 3px solid #b5b6bf;
   padding: 10px 30px;

}

.hero__title {
   text-transform: uppercase;
   font-size: 60px;
   font-weight: 700;
   margin: 0px 0px 40px 0px;
   line-height: 1;
}

.hero__text {
   font-size: 24px;
   color: #fff;
   margin: 0px 0px 40px 0px;
   line-height: 1.4
}

.hero__btn {
   padding: 15px 25px;
   font-size: 20px;
   cursor: pointer;
   font-weight: 400;
   color: #fff;
   background-color: #0a6455;
   border-radius: 9px;
   transition: all .3s ease;
}

.hero__btn:hover {
   background-color: #17433c;
}

.hero__img {
   max-width: 483px;
   max-height: 100%;
}

.hero__img img {
   width: 483px;
}

/* PRODUCTS */
.products {}

.products-page {
   padding: 100px 0;
   background-color: #f5f5fb;
}

.products__top {
   text-align: center;
}

.products__title {
   position: relative;
   font-size: 50px;
   font-weight: bold;
   padding-bottom: 10px;
}

.products__line {
   margin-bottom: 15px;
   display: block;
   text-align: center;
   position: relative;
}

.products__line::after {
   content: "";
   display: block;
   width: 560px;
   height: 2px;
   background: linear-gradient(to right, rgba(207, 160, 116, 0), #2a9ba6, rgba(207, 160, 116, 0));
   position: absolute;
   top: 10px;
   left: 50%;
   transform: translateX(-50%);
   z-index: 6;
}

.products__ico {
   background: #f5f5fb;
   padding: 0 20px;
   z-index: 7;
   display: inline-block;
   position: relative;
   top: -3px;
}

.products__text {

   font-size: 17px;
   text-align: center;
   line-height: 1.8em;
}

.products__row {
   margin: 70px 0px 0 0px;
}



.products__info {
   width: 380px;
   padding: 18px 0;
   border-bottom: 1px solid #2a9ba6;
}

.products__subtitle {
   color: #2a9ba6;
   font-size: 23px;
   font-weight: bold;
   margin-bottom: 8px;
}

.products__descr {
   font-size: 17px;
   line-height: 1.4em;
   color: #4b4b4b;
}

.products__elem {
   padding: 10px 0;
}

.products__link {
   display: block;
   font-size: 18px;
   font-weight: bold;
   padding-left: 15px;
   position: relative;
   color: #000;
}

.products__link:hover {
   text-decoration: underline;
}

.products__link::after {
   content: "";
   display: block;
   width: 6px;
   height: 6px;
   background: #323232;
   border-radius: 50%;
   position: absolute;
   left: 0;
   top: 10px;
}

.products__items {
   display: flex;
   margin: 0 10px 20px 10px;
}

.products__item {
   /* padding: 0 10px; */

}

.products__block {
   background-color: #fff;
   padding: 20px;
   display: flex;
   height: 100%;
   flex-direction: column;
}

.products__img {
   position: relative;
   flex: 1 1 auto;
   display: block;
   padding: 0px 0px 85% 0px;
}

.products__img img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: contain;
}

.products__item:hover .products__label {
   text-decoration: underline;
}

.products__label {
   color: #000;
   font-size: 16px;
   line-height: 1.4em;
   font-weight: 500;
   margin: 25px 0px 0px 0px;
}

/* substation */

.substation__body {
   background-image: url('../img/ele-bgs.png');
   background-position: 0 0;

   background-repeat: no-repeat;

   background-size: cover;
   padding: 80px 0px 180px 0px;
}

.substation__title {
   text-align: center;
   margin-bottom: 15px;
   position: relative;
   font-size: 50px;
   font-weight: bold;
   color: #fff;
   padding-bottom: 10px;
}

.substation__ico {
   display: block;
   text-align: center;
   position: relative;
   margin-bottom: 15px;
}

.substation__ico img {
   background: #1a817d;
   padding: 0 20px;
   z-index: 7;
   display: inline-block;
   position: relative;
   top: -3px;
}

.substation__ico::after {
   content: "";
   display: block;
   width: 560px;
   height: 2px;
   position: absolute;
   top: 10px;
   left: 50%;
   transform: translateX(-50%);
   z-index: 6;
   background: linear-gradient(to right, rgba(25, 129, 125, 0), #fff, rgba(25, 129, 125, 0));
}

.substation__text {
   text-align: center;
   color: #fff;
   font-size: 17px;
   line-height: 1.8em;
}

/* project */
.project-page {
   margin: 0px 0 45px 0;
}

/* 
 */

.project__column {
   cursor: pointer;
   margin-top: 45px;
   display: flex;
   background: #f5f5fb;
   transition: all .3s ease-out;
}

.project__column:hover {
   background-color: rgb(26 129 125);
}

.project__item {
   flex: 0 1 40%;
}

.project__item-2 {
   flex: 0 1 60%;
}

.project__img {
   position: relative;
   padding: 0px 0px 90% 0px;

   transition: all .3s ease-out;
   overflow: hidden;
}

.project__img img {
   width: 100%;
   height: 100%;

   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;

   transition: all .3s ease-out;
}

.project__column:hover .project__img img {
   transform: scale(1.1);
}

.project__column:hover .project__title {
   color: #fff;
}

.project__column:hover .project__descr {
   color: #fff;
}

.project__column:hover .project__button {
   background-color: #fff;
   /* color: #fff; */
   border: 1px solid #fff;
}

.project__info {
   padding: 50px 50px 30px 50px;
}

.project__title {
   font-size: 28px;
   font-weight: bold;
   margin-bottom: 10px;
}

.project__descr {
   font-size: 17px;
   line-height: 1.8em;
}

.project__button {
   cursor: pointer;
   display: inline-block;
   font-size: 14px;
   color: #2a9ba6;
   border: 1px solid #2a9ba6;
   padding: 15px 20px;
   margin-top: 30px;
   transition: all .2s;
}

.project__button:hover {
   border-radius: 20px;
}

/* about */
.about-page {
   position: relative;
   z-index: 1;
}

.about__content {
   color: #fff;
   text-align: center;
}

.about__body {
   position: relative;
   z-index: 3;
   /* background: url('../img/bg.jpeg') 0 0/100% auto no-repeat; */
   background-image: url('../img/bg.jpeg');
   background-position: 0 0;
   background-size: 100% auto;
   background-repeat: no-repeat;
   padding: 150px 0px;
}

.about__ico img {
   background: transparent;
}

.about__body::after {
   content: "";
   position: absolute;
   z-index: -1;
   width: 100%;
   height: 100%;
   top: 0;
   right: 0;
   background-color: rgba(0, 0, 0, 0.8);
}

.about__title {
   position: relative;
   font-size: 44px;
   font-weight: bold;
   padding-bottom: 10px;
   color: #fff;
}

.about__descr {
   font-size: 18px;
   line-height: 1.6em;
   margin-top: 10px;
}

.about__ico {
   display: block;
   margin-bottom: 15px;
}

.about__btn {
   color: #fff;
   border: 1px solid #fff;
}

/* success block */
.success-block {
   position: relative;
   z-index: 2;
   margin: -75px 0px 0px 0px;
   padding: 0px 0px 70px 0px;
}

.success__items {
   display: flex;
   align-items: center;
   margin: 0 -20px;
}

.success__column {
   flex: 0 1 25%;
   padding: 0 20px;
}

.success__item {
   background-color: #fefefe;
   padding: 60px 0;
   box-shadow: 0 0 16px rgb(0, 0, 0, .15);
   transition: all 0.3s ease-out;
   text-align: center;
}

.success__item:hover {
   background-color: #1a817d;
}

.success__item:hover .success__nums {
   color: #fff;
}

.success__item:hover .success__label {
   color: #fff;
}

.success__nums {
   font-size: 48px;
   color: #1a817d;
   font-weight: 500;
   margin-bottom: 20px;
}

.unit {
   font-size: 28px;
   vertical-align: top;
}


.success__label {
   font-size: 16px;
}

/* SLIDER CATALOG */

.slider-container {
   overflow: hidden;
}

.slider-track {
   display: flex;
   column-gap: 16px;
   transition: 0.2s;
}

.certificate__row-1 {
   position: relative;
   padding: 0 60px;
   margin-right: 100px;
}

.slider__btns {
   display: flex;
   align-items: center;
   justify-content: end;
   margin-bottom: 15px;
}

.slider__btn {
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid #1a817d;
   border-radius: 50%;
   background-color: transparent;
   transition: transform 0.1s ease, background-color 0.2s;
   width: 60px;
   height: 60px;
}

.prev-btn {
   margin-right: 15px;
   transform: rotate(-180deg);
}

.prev-btn:active {
   transform: rotate(-180deg) scale(0.9);
   background-color: rgba(0, 128, 128, 0.1);
}

.next-btn:active {
   transform: scale(0.9);
   background-color: rgba(0, 128, 128, 0.1);
}

.next-btn:disabled {
   opacity: 0.4;
   cursor: not-allowed;
   pointer-events: none;
}

.prev-btn:disabled {
   opacity: 0.4;
   cursor: not-allowed;
   pointer-events: none;
}

/* CERTIFICATE */
.certificate__body {
   position: relative;
   z-index: 3;
   background-image: url('../img/transformer.jpg');
   background-attachment: fixed;
   background-position: 0 0;
   background-size: cover;
   background-repeat: no-repeat;
   padding: 110px 0px;
}

.certificate__body::after {
   content: "";
   position: absolute;
   z-index: -1;
   width: 100%;
   height: 100%;
   top: 0;
   right: 0;
   background-color: rgb(40 40 40 / 80%);
}

.certificate__title {
   font-size: 44px;
   font-weight: bold;
   margin-bottom: 20px;
   color: #fff;
}

.certificate__descr {
   color: #fff;
   font-size: 18px;
   line-height: 1.4em;
}

.certificate-page {
   padding: 60px 0;
}

.certificate__column {
   display: flex;
   align-items: center;
}

.certificate__row {
   /* flex: 0 1 50%; */
}

.certificate__wrapper {
   max-width: 860px;

}

.certificate__container {
   /* width: auto; */
   overflow: hidden;
}

.certificate__slider {
   display: flex;
}

.certificate-box {
   width: 100%;

   flex-shrink: 0;
}

.certificate__item {
   width: 100%;
   max-height: 100%;
   padding: 10px;
}

.certificate__img {
   width: 100%;
   height: 100%;
   box-shadow: 0 0 12px rgba(26, 129, 125, 0.7);
   border-radius: 6px;
}


.certificate__btn {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   z-index: 5;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid #fff;
   border-radius: 50%;
   background-color: transparent;
   transition: transform 0.1s ease, background-color 0.2s;

   width: 60px;
   height: 60px;

}

.certificate__btn svg {
   pointer-events: none;
}

.next-btn-certificate {
   right: -15px;
}

.prev-btn-certificate {
   left: -15px;
   transform: translateY(-50%) rotate(-180deg);
}

.prev-btn-certificate:active {
   transform: translateY(-50%) rotate(-180deg) scale(0.9);
   background-color: rgba(0, 128, 128, 0.1);
}

.next-btn-certificate:active {
   transform: translateY(-50%) scale(0.9);
   background-color: rgba(0, 128, 128, 0.1);
}

.next-btn-certificate.disabled,
.prev-btn-certificate.disabled {
   opacity: 0.25;
   pointer-events: none;
}

/* POPUP */
.popup,
.popup_engineer,
.popup_calc_end {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 11;
   background-color: rgba(0, 0, 0, 0.5);
   padding: 0 25px;
}

.popup img {
   max-width: 100%;
   max-height: 100%;
}

/* order */
.order {
   padding: 0 0 60px 0;
}

.order__content {
   max-width: 1000px;

   margin: 0 auto;

   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);

   padding: 60px 40px;
   background-color: #f5f5fb;
   border-radius: 25px;
}

.order__title {
   text-align: center;
   font-size: 36px;
   font-weight: 600;
   color: #000;
   margin-bottom: 20px;
}

.order__descr {
   text-align: center;
   font-size: 16px;
   color: #555;
   max-width: 600px;
   margin: 0 auto 40px;
   line-height: 1.4em;
}

.order__form {
   max-width: 800px;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   gap: 15px;
   justify-content: center;
   align-items: flex-end;
}

.form-group {
   display: flex;
   flex-direction: column;
   flex: 1;
}

.order__input {
   padding: 12px 16px;
   font-size: 14px;
   border: 1px solid #ddd;
   border-radius: 8px;
   outline: none;
   min-width: 180px;
   flex: 1;
}

.form-group label {
   font-size: 13px;
   color: #666;
   margin-bottom: 5px;
   text-align: left;
}

.btn_dark {
   background-color: #0a6455;
   color: #fff;
   padding: 12px 24px;
   font-size: 14px;
   border: none;
   border-radius: 8px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.btn_dark:hover {
   background-color: #17433c;
}

/* FOOTER */

.footer {
   background-color: #155e5a;
   color: #fff;
   padding: 60px 20px 20px;
}

.footer-container {
   display: flex;
   justify-content: space-between;
   gap: 40px;
}

.footer-column {
   /* flex: 0 1 33.3333%; */
   flex: 1;
}

.footer-row {
   display: flex;
   align-items: center;
   justify-content: center;
}

.footer-logo {
   display: flex;
   align-items: center;
   font-weight: bold;
   font-size: 20px;
   margin-bottom: 15px;
}

.footer-logo .logo-icon {
   width: 72px;
   height: 72px;
   margin-right: 10px;
}

.footer p {
   font-size: 14px;
   color: #fff;
   line-height: 1.6;
   margin-bottom: 20px;
}

.footer-socials a {
   display: inline-block;
   margin-right: 10px;
}

.footer-socials svg {
   width: 30px;
   height: 30px;
}

.footer-column h4 {
   font-size: 16px;
   margin-bottom: 15px;
   color: #fff;
}


.footer-column ul li {
   margin-bottom: 8px;
}

.footer-column ul li a {
   color: #fff;
   text-decoration: none;
   font-size: 14px;
}

.footer-column ul li a:hover {
   color: #fff;
}

.newsletter-form {
   display: flex;
   gap: 10px;
   margin-bottom: 20px;
}

.newsletter-form input {
   padding: 10px 12px;
   border-radius: 50px;
   border: 1px solid #fff;
   color: #000;
   font-size: 14px;
}

.newsletter-form button {
   background-color: #20a39e;
   color: white;
   border: none;

   border-radius: 50px;
   padding: 10px 20px;
   cursor: pointer;
   font-size: 14px;
}

.newsletter-form button:hover {
   background-color: #1c938e;
}

.footer-contact p {
   font-size: 14px;
   display: flex;
   align-items: center;
   gap: 10px;
   color: #fff;
   margin-bottom: 8px;
}

.footer-contact img {
   width: 16px;
   height: 16px;
}

.footer-bottom {
   margin-top: 40px;
   padding: 20px 0 0 0;
   text-align: center;

   font-size: 14px;
   border-top: 1px solid #d0d0d0;
}

.footer-bottom a {
   color: #fff;
   text-decoration: underline;
   transition: color 0.3s ease;
}