/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   font-family: "Montserrat", sans-serif;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

/*--------------------*/
/* HEADER */
.wrapper {
   min-height: 100%;
   overflow: hidden;
}

.container {
   max-width: 1200px;
   padding: 0 15px;
   margin: 0 auto;
}

.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10;
   background-color: #0F8673;
}

.logo {
   margin-right: 30px;
}

.header_wrapper {
   display: flex;
   align-items: center;
   min-height: 90px;
}

.menu__body {
   margin-right: 40px;
}

.header__menu {
   display: flex;
   align-items: center;
}

.menu__list {
   display: flex;
   align-items: center;
}

.menu__item {
   position: relative;
   margin: 0px 0px 0px 20px;
   padding: 30px 0;
}

.menu__icon {
   display: none;
}

.menu__link {
   color: #fff;
   font-size: 18px;
}


.menu__sub-list {
   position: absolute;
   top: 100%;
   left: 0;
   background-color: #fff;
   padding: 15px;
   min-width: 350px;
}

.sub-menu__item {
   margin: 0px 0px 10px 0px;
}

.sub-menu__item:last-child {
   margin: 0;
}

.sub-menu__link {
   color: #000;
   font-size: 16px;
}

.sub-menu__link:hover {
   text-decoration: underline;
}



body._pc .menu__item:hover .menu__sub-list {
   opacity: 1;
   visibility: visible;
   transform: translate(0, 0);
   pointer-events: all;
}


body._touch .menu__link {
   flex: 1 1 auto;
}

.menu__arrow {
   display: block;
   width: 0;
   height: 0;
   margin: 0px 0px 0px 5px;
   transition: transform 0.3s ease 0s;
   border-left: 5px solid transparent;
   border-right: 5px solid transparent;
   border-top: 10px solid #fff;
}


body .menu__item._active .menu__sub-list {
   opacity: 1;
   visibility: visible;
   transform: translate(0, 0);
   pointer-events: all;
}

body .menu__item .menu__arrow {
   transform: rotate(0deg);
}

.menu__item {
   display: flex;
   align-items: center;
}

.menu__sub-list {
   transform: translate(0px, 10%);
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   transition: all 0.3s ease 0s;
}

.phone__block {
   display: flex;
   align-items: center;
}

.phone__block:not(:last-child) {
   margin-bottom: 15px;
}

.phone__icon {
   width: 20px;
   margin-right: 5px;
}

.phone__number {
   font-size: 16px;
   color: #fff;
}

.phone__number:hover {
   text-decoration: underline;
}



/* HERO */
.page {
   padding: 90px 0px 0px 0px;
}

.hero {
   position: relative;
   z-index: 1;
   background: url('../img/bg.jpeg') 0 0/100% auto no-repeat;
   padding: 150px 0px;

}

.hero::after {
   content: "";
   position: absolute;
   z-index: 2;
   width: 100%;
   height: 100%;
   top: 0;
   right: 0;
   background-color: rgba(0, 0, 0, 0.7);

}

.header__content {
   position: relative;
   z-index: 10;
}

.hero__body {
   position: relative;
   z-index: 4;
   display: flex;
   align-items: center;
   margin: 0 -20px;
   height: 450px;
}

.main-slider-btn {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   width: 40px;
   height: 40px;
   border: none;
   padding: 0;
   z-index: 5;
   background-color: transparent;
}

.main-prev-btn {
   left: -160px;

   transform: rotate(180deg);
}

.main-next-btn {
   right: -160px;

}

.main-prev-btn:hover {}

.main-next-btn:hover {}

.hero__column {
   padding: 0 20px;
}

.hero__info {
   color: #fff;
}

.hero__descr {
   border-left: 3px solid #b5b6bf;
   padding: 10px 30px;

}

.hero__title {
   text-transform: uppercase;
   font-size: 60px;
   font-weight: 700;
   margin: 0px 0px 40px 0px;
   line-height: 1;
}

.hero__text {
   font-size: 24px;
   color: #fff;
   margin: 0px 0px 40px 0px;
   line-height: 1.4
}

.hero__btn {
   padding: 15px 25px;
   font-size: 20px;
   cursor: pointer;
   font-weight: 400;
   color: #fff;
   background-color: #0a6455;
   border-radius: 9px;
   transition: all .3s ease;
}

.hero__btn:hover {
   background-color: #17433c;
}

.hero__img {
   max-width: 483px;
   max-height: 100%;
}

.hero__img img {
   width: 483px;
}

/* PRODUCTS */
.products {}

.products-page {
   padding: 100px 0;
   background-color: #f5f5fb;
}

.products__top {
   text-align: center;
}

.products__title {
   position: relative;
   font-size: 50px;
   font-weight: bold;
   padding-bottom: 10px;
}

.products__line {
   margin-bottom: 15px;
   display: block;
   text-align: center;
   position: relative;
}

.products__line::after {
   content: "";
   display: block;
   width: 560px;
   height: 2px;
   background: linear-gradient(to right, rgba(207, 160, 116, 0), #2a9ba6, rgba(207, 160, 116, 0));
   position: absolute;
   top: 10px;
   left: 50%;
   transform: translateX(-50%);
   z-index: 6;
}

.products__ico {
   background: #f5f5f5;
   padding: 0 20px;
   z-index: 7;
   display: inline-block;
   position: relative;
   top: -3px;
}

.products__text {

   font-size: 17px;
   text-align: center;
   line-height: 1.8em;
}

.products__row {
   display: flex;
   
   margin: 70px -20px 0 -20px;
}

.products__column-1 {
   /* flex: 0 1 40%; */
}

.products__column-2 {
   /* flex: 0 1 60%; */
}

.products__column {
   padding: 0 20px;
}

.products__info {
   width: 380px;
   padding: 18px 0;
   border-bottom: 1px solid #2a9ba6;
}

.products__subtitle {
   color: #2a9ba6;
   font-size: 23px;
   font-weight: bold;
   margin-bottom: 8px;
}

.products__descr {
   font-size: 17px;
   line-height: 1.4em;
   color: #4b4b4b;
}

.products__elem {
   padding: 10px 0;
}

.products__link {
   display: block;
   font-size: 18px;
   font-weight: bold;
   padding-left: 15px;
   position: relative;
   color: #000;
}

.products__link:hover {
   text-decoration: underline;
}

.products__link::after {
   content: "";
   display: block;
   width: 6px;
   height: 6px;
   background: #323232;
   border-radius: 50%;
   position: absolute;
   left: 0;
   top: 10px;
}

.products__items {
   display: flex;
   margin: 0 -10px 20px 10px;
}

.products__item {
   padding: 0 10px;
   flex: 0 1 33.3333%;
}

.products__block {
   background-color: #fff;
   padding: 20px;
   display: flex;
   height: 100%;
   flex-direction: column;
}

.products__img {
   position: relative;
   flex: 1 1 auto;
   display: block;
   padding: 0px 0px 60% 0px;
}

.products__img img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: contain;
}

.products__item:hover .products__label {
   text-decoration: underline;
}

.products__label {
   color: #000;
   font-size: 16px;
   font-weight: bold;
   text-align: center;
   
   width: 250px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   display: inline-block; /* или block */
   
   margin: 25px 0px 0px 0px;
}